<a href="https://colab.research.google.com/github/rpbenatti/Data-Science/blob/master/how_to_join_merge_dataframes_in_pandas_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## How to join (merge) data frames (inner, outer, right, left join) in pandas python

http://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/

We can merge two data frames in pandas python by using the merge() function. The different arguments to merge() allow you to perform natural join,  left join, right join, and full outer join in pandas.

- **left** − Dataframe1.
- **right** – Dataframe2.
- **on** − Columns (names) to join on. Must be found in both the left and right DataFrame objects.
- **how** – type of join needs to be performed – ‘left’, ‘right’, ‘outer’, ‘inner’, Default is inner join

#### UNDERSTANDING THE DIFFERENT TYPES OF MERGE:
    
- **Natural join**: To keep only rows that match from the data frames, specify the argument how=‘inner’.
- **Full outer join**:To keep all rows from both data frames, specify how=‘outer’.
- **Left outer join**:To include all the rows of your data frame x and only those from y that match, specify how=‘left’.
- **Right outer join**:To include all the rows of your data frame y and only those from x that match, specify how=‘right’.

In [0]:
import pandas as pd
import numpy as np
 
clients = {'Client_ID': [111,222,333,444,555],
           'Client_Name': ['Jon Snow','Maria Green', 'Bill Jones','Rick Lee','Pamela Lopez']
           }

countries = {'Client_ID': [111,222,333,444,777],
             'Client_Country': ['UK','Canada','Spain','China','Brazil']
             }

In [0]:
# data frame 1
df1 = pd.DataFrame(clients,columns= ['Client_ID','Client_Name'])
print(df1)

   Client_ID   Client_Name
0        111      Jon Snow
1        222   Maria Green
2        333    Bill Jones
3        444      Rick Lee
4        555  Pamela Lopez

In [0]:
# data frame 2
df2 = pd.DataFrame(countries,columns= ['Client_ID', 'Client_Country'])
print(df2)

   Client_ID Client_Country
0        111             UK
1        222         Canada
2        333          Spain
3        444          China
4        777         Brazil

**Inner join pandas**: Return only the rows in which the left table have matching keys in the right table

In [0]:
#inner join in python pandas
print(pd.merge(df1, df2, on='Client_ID', how='inner'))

   Client_ID  Client_Name Client_Country
0        111     Jon Snow             UK
1        222  Maria Green         Canada
2        333   Bill Jones          Spain
3        444     Rick Lee          China

**Outer join pandas**: Returns all rows from both tables, join records from the left which have matching keys in the right table.

In [0]:
# outer join in python pandas
print(pd.merge(df1, df2, on='Client_ID', how='outer'))

   Client_ID   Client_Name Client_Country
0        111      Jon Snow             UK
1        222   Maria Green         Canada
2        333    Bill Jones          Spain
3        444      Rick Lee          China
4        555  Pamela Lopez            NaN
5        777           NaN         Brazil

**Left outer join pandas**: Return all rows from the left table, and any rows with matching keys from the right table.

In [0]:
# left join in python
print(pd.merge(df1, df2, on='Client_ID', how='left'))

   Client_ID   Client_Name Client_Country
0        111      Jon Snow             UK
1        222   Maria Green         Canada
2        333    Bill Jones          Spain
3        444      Rick Lee          China
4        555  Pamela Lopez            NaN

**Right outer join pandas**: Return all rows from the right table, and any rows with matching keys from the left table.

In [0]:
# right join in python pandas
print( pd.merge(df1, df2, on='Client_ID', how='right'))

   Client_ID  Client_Name Client_Country
0        111     Jon Snow             UK
1        222  Maria Green         Canada
2        333   Bill Jones          Spain
3        444     Rick Lee          China
4        777          NaN         Brazil